<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">

   		<meta property="og:title" content="Hardware Registration"/> 

   		<title>Hardware Registration</title>
   		 <!-- Bootstrap -->
   		  <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  		<%= stylesheet_link_tag "main.css" %>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  		<link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class="container" id='container'>
			<div class="row">
				<div class="headers" id="header">
					<div class="star"></div>
					<h1 class="main-header">Welcome to Hardware Registration!</h1>
					<h2>Want some hardware? We have some hardware.</h2>
				</div>

			<div class="buttons row">
				<button id="log-in">Log in</button>
				<button id="sign-up">Sign up</button>
			</div>
			</div>
		</div>
	</body>
	 		<%= javascript_include_tag "main.js" %>
</html>