*{
	overflow:none;
	font-family: 'Quicksand', sans-serif;
	color:white;
}
body{
	width:100%;
	margin:0;
	padding:0;
	background-color: #222338;
	overflow-x:none;
	overflow-y:none;
}

.container{
	margin:0;
	padding:0;
	width:100%;
	overflow:none;
}

.row{
	margin:0;
	padding:0;


}

h1{
	font-family: 'Quicksand', sans-serif;
	color:white;
	margin:0;
}
h2{
	margin:0;
	margin-top:15px;
}

a{
	color:white;
}

label{
	color:white;
	font-weight: lighter;
}

.error{
	color:white;
}

#signed-in{
	margin-top:5vh;
}

.headers{
	text-align: center;
	color:white;
	margin:0;
	height:20vh;
	font-family: 'Quicksand', sans-serif;
	padding-top:15vh;
	margin-top:7vh;
	display: block;
	height:25vh;
}

.edit-header{
	margin-top:0px;
	padding-top:3vh;
	height:17	vh;
}

.login, .signup{
	text-align: center;
	margin-top:12vh;
	display: block;
	position: relative;
}

table{
	text-align: center;
}

.inventory{
	text-align: center;
}

th{
	text-align: center;
	width:300px;
	font-size: 1.7em;
}

.item-name{
	font-weight:bold;	
	background-color: #39151E;
}

td{
	text-align: center;
	width:200px;
	margin:10px;
	border: 1px dashed #782E41;
	font-size:1.3em;
	background-color: #222338;

}

.signup-edit{
	margin-top:2vh;
}

#remember{
	width:300;
}

.main-header{
	font-size:4.5em;
}

option, select{
	color:black;
}

.buttons{
	text-align: center;
	margin-top:15vh;
	display: block;
	font-size: 
}

.buttons-lower{
	text-align: center;
}

.button-holder{
	text-align: center;
}

.checkout{
	font-size:1.5em;
	font-weight:;
}

button{
	font-family: 'Quicksand', sans-serif;
	background-color: #39151E;
	font-size: 1.5em;
	color:white;
	border:0;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	width:300px;
}


button:hover{
	background-color: #782E41;
}

input{
	font-family:'Quicksand', sans-serif;
	background-color: #782E41;
	font-size:1.5em;
	color:white;
	border:0;
	padding:10px;
	margin:10px;
	border-radius: 10px;
	width:300px;
}

input[type=submit]{
	background-color: #39151E;
}
input[type=checkbox]{
	width:initial;
	border:0;
	vertical-align: center;
}

input[type=submit]:hover{
	background-color: #782E41;
}

.star{
	width:10px;
	height:10px;
	background-image:url('star.png');
	background-size:10px;
	 display: block;
 position: absolute;
 top: 50%;
 left: 50%;
 opacity:.6;
 z-index: -1;
  
	-webkit-animation: glitter 10s linear 0s infinite normal;
}
@keyframes glitter {
 0%   { transform: scale(1.0); opacity: 1; }
 25%  { transform: scale(0.5); opacity: 0; }
 50%  { transform: scale(1.0); opacity: 1; }
 75%  { transform: scale(0.5); opacity: 0; }
 100% { transform: scale(1.0); opacity: 1; }
}

@-moz-keyframes glitter {
 0%   { -moz-transform: scale(1.0); opacity: 1; }
 25%  { -moz-transform: scale(0.5); opacity: 0; }
 50%  { -moz-transform: scale(1.0); opacity: 1; }
 75%  { -moz-transform: scale(0.5); opacity: 0; }
 100% { -moz-transform: scale(1.0); opacity: 1; }
}
@-webkit-keyframes glitter {
 0%   { -webkit-transform: scale(1.0); opacity: 1; }
 25%  { -webkit-transform: scale(0.5); opacity: 0; }
 50%  { -webkit-transform: scale(1.0); opacity: 1; }
 75%  { -webkit-transform: scale(0.5); opacity: 0; }
 100% { -webkit-transform: scale(1.0); opacity: 1; }
}

@-moz-keyframes glitter {
 0%   { -moz-transform: scale(1.0); opacity: 1; }
 25%  { -moz-transform: scale(0.5); opacity: 0; }
 50%  { -moz-transform: scale(1.0); opacity: 1; }
 75%  { -moz-transform: scale(0.5); opacity: 0; }
 100% { -moz-transform: scale(1.0); opacity: 1; }
}
